In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier
from sklearn.svm import SVC

from sklearn.metrics import r2_score,mean_squared_error,accuracy_score

In [2]:
df = pd.read_csv(r"C:\Users\Abhishek\Desktop\ML\Interview_Projects\cross_selling\data\train.csv")
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [3]:
df.drop(columns=["id"],inplace=True)

In [4]:
df.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [5]:
X = df.drop(columns=["Response"],axis=1)
y = df["Response"]

In [6]:
num_col = [column for column in X.columns if X[column].dtype != "O" ]
cat_col = [column for column in X.columns if X[column].dtype == "O" ]

In [7]:
preprocessor = ColumnTransformer(
    transformers=[("OneHotEncoder",OneHotEncoder(),cat_col),
                  ("StandardScaler",StandardScaler(),num_col)
    ]
)

In [8]:
X_processed = preprocessor.fit_transform(X=X)

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X_processed,y,test_size=0.2,random_state=42)

In [10]:
models = {"LogisticRegression":LogisticRegression(),
         "DecisionTreeClassifier":DecisionTreeClassifier(),
         "RandomForestClassifier":RandomForestClassifier(),
         "AdaBoostClassifier":AdaBoostClassifier(),
         "SVC":SVC()}

In [12]:
def evaluate_model(y_actual,y_predicted):
    accuracy = accuracy_score(y_true=y_actual,y_pred=y_predicted)
    return accuracy

In [13]:
model_list = []
acc_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    train_acc = evaluate_model(y_train, y_train_pred)

    test_acc= evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    # print("- Root Mean Squared Error: {:.4f}".format(train_mse))
    # print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- Accuracy Score: {:.4f}".format(train_acc))

    print('----------------------------------')
    
    print('Model performance for Test set')
    # print("- Root Mean Squared Error: {:.4f}".format(test_mse))
    # print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- Accuracy Score Score: {:.4f}".format(test_acc))
    acc_list.append(test_acc)
    
    print('='*35)
    print('\n')

LogisticRegression
Model performance for Training set
- Accuracy Score: 0.8780
----------------------------------
Model performance for Test set
- Accuracy Score Score: 0.8751
===================================


DecisionTreeClassifier
Model performance for Training set
- Accuracy Score: 0.9999
----------------------------------
Model performance for Test set
- Accuracy Score Score: 0.8215
===================================


RandomForestClassifier
Model performance for Training set
- Accuracy Score: 0.9999
----------------------------------
Model performance for Test set
- Accuracy Score Score: 0.8650
===================================


AdaBoostClassifier
Model performance for Training set
- Accuracy Score: 0.8780
----------------------------------
Model performance for Test set
- Accuracy Score Score: 0.8751
===================================

In [1]:
pd.DataFrame(list(zip(model_list, acc_list)), columns=['Model Name', 'Accuracy']).sort_values(by=["Accuracy"],ascending=False)

NameError: name 'pd' is not defined